.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.option-1 {
  position: absolute;
  top: 25rem;
  left: 20rem;
  background: transparent;
  padding: 1.5rem;
  width: 30rem;
  color: transparent;
}

.option-2 {
  position: absolute;
  top: 30rem;
  left: 20rem;
  background: transparent;
  padding: 1.5rem;
  width: 30rem;
  color: transparent;
}

.things {
}

.outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 5rem;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

img {
  width: 30%;
  animation: float 3s ease-in-out infinite;
}

video {
  width: 95%;
}
